# fly.toml app configuration file generated for rcmtc on 2023-12-09T12:44:16-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file..
# g

app = "rcmtc"
primary_region = "mia"

[build]

[mounts]
source = "db"
destination = "/mnt/db"

[http_service]
internal_port = 4321
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0
processes = ["app"]
