---
import { type GetStaticPaths, type Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Articles from "../../components/Articles.astro";
import Link from "../../components/Link.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getCollection("blog");
  return paginate(posts, { pageSize: 3 });
};

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const page = Astro.props.page;
---

<Layout seo={{ title: "Blog Post" }}>
  <h1>blog post</h1>
  <Articles posts={page.data} start={page.start + 1} />
  <div class="mt-8 flex justify-center gap-4">
    <div class="w-24 text-end">
      {
        page.url.prev && (
          <Link rel="prev" href={page.url.prev}>
            &lt;&lt; Previous
          </Link>
        )
      }
    </div>
    {page.currentPage}
    <div class="w-24 text-start">
      {
        page.url.next && (
          <Link rel="next" href={page.url.next}>
            Next &gt;&gt;
          </Link>
        )
      }
    </div>
  </div>
</Layout>
