---
import { Image } from "astro:assets";
import crisPhoto from "../assets/cris-2.gif";

import Layout from "../layouts/Layout.astro";
---

<Layout
  seo={{ title: "About", description: "Cris is a developer from florida" }}
>
  <Image
    src={crisPhoto}
    width={312}
    quality="max"
    class="rounded-full mx-auto text-center py-4"
    alt="a photo of cris"
  />

  <h3 class="text-2xl">Cristian Richards or Cris or RCMT ~</h3>
  <p class="mx-auto">
    Frontend Engineer interested in design systems, Three.js, Testing, and
    React. Expressing art through coding really excites me, and I'm particularly
    drawn to exploring diverse graphic techniques like Canvas, WebGL, SVG, and
    GLSL.
  </p>
  <br />
  <p>
    When I'm not immersed in coding or reading, I love to unwind by listening to
    Music, on my Moondrop SSP IEMs.They are a pretty great deal for such a
    technical and comfortable pair of IEMs, and a little EQ tweaking can make
    them even better. Besides that, I've been dedicated to learning Japanese for
    the past 2 years, although I have to admit my reading of 平仮名 hasn't
    improved much.
  </p>
</Layout>
